.teaser {
  padding: 10px; }
  .teaser h3 {
    color: red;
    font-size: 18px; }
  .teaser p {
    font-size: 14px;
    color: gray; }

div.login {
  border: 1px solid gray;
  padding: 5px;
  width: 160px;
  height: 220px;
  float: left; }
  div.login h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 18px;
    line-height: 22px; }
  div.login h2 {
    font-size: 16px;
    line-height: 18px; }
  div.login input {
    line-height: 20px;
    width: 160px; }
  div.login input.button {
    line-height: 30px;
    font-size: 28px;
    margin-top: 15px;
    width: 90px;
    height: 40px;
    float: right; }

div.userData {
  border: 1px solid gray;
  padding: 5px;
  width: 160px;
  float: left; }
  div.userData h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 18px;
    line-height: 22px; }
  div.userData h2 {
    font-size: 16px;
    line-height: 18px; }
  div.userData h3 {
    font-size: 14px;
    line-height: 18px;
    width: 160px;
    font-weight: bold; }
  div.userData p {
    font-size: 14px;
    line-height: 18px;
    width: 160px; }

div.userMap iframe {
  border: 1px solid gray;
  padding: 5px;
  float: left; }

div.search {
  border: 1px solid gray;
  padding: 5px;
  width: 160px;
  height: 220px;
  float: left; }
  div.search h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 18px;
    line-height: 22px; }
  div.search h2 {
    font-size: 16px;
    line-height: 18px; }
  div.search input {
    line-height: 20px;
    width: 160px; }
  div.search input.button {
    line-height: 30px;
    font-size: 28px;
    margin-top: 15px;
    width: 90px;
    height: 40px;
    float: right; }

div.producerData {
  border: 1px solid gray;
  padding: 5px;
  width: 160px;
  float: left; }
  div.producerData h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 18px;
    line-height: 22px; }
  div.producerData h2 {
    font-size: 16px;
    line-height: 18px; }
  div.producerData h3 {
    font-size: 14px;
    line-height: 18px;
    width: 160px;
    font-weight: bold; }
  div.producerData p {
    font-size: 14px;
    line-height: 18px;
    width: 160px; }
  div.producerData .producer {
    border-bottom: 2px solid gray; }

body {
  margin: 50px 0px;
  padding: 0px;
  text-align: center; }

div.center {
  width: 500px;
  margin: 0px auto;
  text-align: left;
  padding: 15px;
  border: 1px dashed #333333;
  background-color: #eee;
  border-radius: 3px; }
  div.center .center-text {
    text-align: center; }
  div.center .plz {
    width: 200px;
    height: 29px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 8px;
    font-weight: 200;
    font-size: 15px;
    font-family: Verdana;
    box-shadow: 1px 1px 5px #cccccc;
    color: gray; }
  div.center .button {
    margin: 20px;
    font: 200% "Quando", serif; }

.hidden {
  display: none; }

.producer_list ul {
  list-style: none; }
.producer_list li {
  display: block;
  float: left; }
